.mr-sm-2, .mx-sm-2 {
    margin-right: 0px!important;
}

.weather-icon{
    width: 50px;
}

.forecast{
    width: 106px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 17px;
    background-color: #008cff;
}

.searchContainer{
    background-color: rgb(231, 231, 231);
}

#uv-index{
    padding: 5px;
    border-radius: 5px;
}